@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
	text-decoration: none;
	border:none;
	list-style: none;
}

body{
	background: #FFF7E9;
}
.cabecalho{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 50px;
	background: #FF1E00;
	box-shadow: 0 0 10px #D2001A;
	padding: 0 20px;

}

.logo{
	color: #fff;
	text-transform: lowercase;
	letter-spacing: -3px;
}

.logo span:first-child{
	color: black;
}
.logo span:last-child{
	font-size: 12px;
	letter-spacing: normal;
}
.menu{
	display: flex;
}

.menu li a{
	padding: 17px;
	color: black;
	font-size: 14px;
	font-weight: 600;
	display: block;
}

.menu > li:hover{
	background: #FFE400;
	color: red;
}

.sub_menu{
	display: none;
	position: absolute;
	background: #FFE400;
	top: 50px;
	left: 0;
	min-width: 100%;
	

}

.menu li:hover  .sub_menu{
	display: block;
}

.menu li{
	position: relative;
}

.sub_menu li:hover{
	background: red;
}